@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.font-roboto {
  font-family: "Roboto Condensed", sans-serif !important;
}

/* Header table none */
.none-header .ant-table-header {
  display: none !important;
}

.invoice-detail .ant-table-thead .ant-table-cell {
  background-color: transparent !important;
}

.ant-popover-content,
.ant-input-number-input,
.ant-popover-title,
.ant-statistic-title,
.ant-picker ,
.ant-select-selection-item,
.ant-select-selection-search-input,
.ant-select-item-option-content,
.ant-message-custom-content,
.ant-table-cell,
.ant-form-item-explain-error,
.ant-btn,
.ant-form-item-label,
.ant-modal-title,
.ant-table-content,
.ant-dropdown-menu-item,
.ant-input {
  font-family: "Roboto Condensed", sans-serif !important;
}
/* // scrollbar */
::-webkit-scrollbar {
  width: 6px;            /* Độ rộng thanh cuộn dọc */
  height: 6px;           /* Độ cao thanh cuộn ngang */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;   /* Màu nền nhạt */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;   /* Màu thanh cuộn */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a1a1a1;   /* Khi hover */
}
